node_modules
.DS_Store
dist
dist-ssr
*.local
data/*.*
data/census/*.*
data/layers/*.*
data/points/*.*
data/tiles/*.*
!data/.keep
!data/census/.keep
!data/layers/.keep
!data/layers/cha.csv
!data/points/.keep
!data/tiles/.keep
data/tiles/tracts*
data/tiles/redlining*
