@import "./reset.css";

html,
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 400;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body,
.mapboxgl-map {
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui,
    helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;
}

html {
  height: -webkit-fill-available;
}

body,
main {
  min-height: 100vh;
  min-height: -webkit-fill-available;
  margin: 0;
  padding: 0;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.visually-hidden-focusable:not(:focus) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.hidden {
  display: none !important;
}

#map {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#legend {
  position: absolute;
  left: 16px;
  top: 16px;
  min-width: 200px;
  padding: 8px;
  background-color: rgba(200, 200, 200, 0.8);
}

.layer-options {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.layer-options label {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.legend-race .race {
  margin-bottom: 4px;
}

.dot-legend {
  font-style: italic;
  margin-bottom: 6px;
}

.legend-color {
  height: 16px;
  width: 16px;
  display: inline-block;
  border-radius: 50%;
  opacity: 0.8;
  margin-right: 4px;
}

.legend-color.white {
  background-color: #d62728;
}

.legend-color.black {
  background-color: #1f77b4;
}

.legend-color.hispanic {
  background-color: #2ca02c;
}

.legend-color.asian {
  background-color: #e377c2;
}

.legend-color.other {
  background-color: #9467bd;
}

.legend-color.cha {
  background-color: #fe7f0e;
}

.legend-color.school-closures {
  background-color: yellow;
}

.legend-color.redlining {
  border-radius: 0;
  background-color: rgba(217, 131, 141, 0.4);
  border: solid 1px rgba(217, 131, 141, 1);
}

.redlining-categories {
  margin-left: 22px;
  margin-top: 6px;
  margin-bottom: 4px;
}

.legend-color.redlining.a {
  background-color: rgba(118, 168, 101, 0.4);
  border-color: #76a865;
}
.legend-color.redlining.b {
  background-color: rgba(124, 181, 189, 0.4);
  border-color: #7cb5bd;
}
.legend-color.redlining.c {
  background-color: rgba(255, 255, 0, 0.4);
  border-color: #ffff00;
}

.legend-color.highways {
  width: 4px;
  background-color: yellow;
  border-radius: 0;
  margin-left: 8px;
  margin-right: 8px;
}

.year-control {
  position: absolute;
  left: 16px;
  right: 16px;
  bottom: 16px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: calc(100% - 32px);
  max-width: 600px;
  margin: auto;
  padding: 8px;
  background-color: rgba(200, 200, 200, 0.8);
}

.year-bar {
  display: flex;
  align-items: center;
  flex-grow: 1;
  width: 100%;
}

.year-control .year-label {
  flex-grow: 0;
}
.year-control #year {
  flex-grow: 1;
}

#year {
  height: 50px;
  margin: 0 8px;
}

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background-color: #ccc;
  cursor: pointer;
}

input[type="range"]::-moz-range-track,
input[type="range"]::-ms-track,
input[type="range"]::-webkit-slider-runnable-track {
  border-radius: 0;
  height: 50px;
}

input[type="range"]::-webkit-slider-runnable-track {
  height: 100%;
}

/* Need to split these out, or not applied, unclear why */

input[type="range"]::-moz-range-thumb {
  -moz-appearance: none;
  background-color: #000;
  width: 50px;
  height: 100%;
  border-radius: 0;
  border: none;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: #000;
  width: 50px;
  height: 100%;
  border-radius: 0;
}

input[type="range"]::-ms-slider-thumb {
  -ms-progress-appearance: none;
  background-color: #000;
  width: 50px;
  height: 100%;
  border-radius: 0;
}

@media screen and (min-width: 600px) {
  .year-control {
    left: 32px;
    right: 32px;
    bottom: 48px;
    width: calc(100% - 64px);
  }
}

.mapboxgl-popup-content {
  min-width: 250px;
}

.popup .title {
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 8px;
}

.popup .label {
  font-weight: bold;
  margin-right: 6px;
  display: inline-block;
  width: 30%;
}

.popup p + .title {
  margin-top: 12px;
}
